/*
 * Theme colours
 */
$bg-color: #f4f1ec;
$text-color: #545149;
$header-bg-color: #d89925;
$accent-color: #4056A1;
$accent-text-color: #FFFFFF;
$button-color: #FF0000;
$body-font: 'Source Sans 3', sans-serif;
$accent-font: 'Bungee', sans-serif;

/*
 * Mix-ins
 */
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}