$bg-color: #f4f1ec;
$font-color: #545149;
$header-bg-color: #d89925;
$nav-bg-color: #4056A1;
$nav-font-color: #FFFFFF;
$button-color: #FF0000;
$body-font: 'Source Sans 3', sans-serif;
$accent-font: 'Bungee', sans-serif;

body > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 50%;
  margin: 200px 100px;
  padding-top: 30px;
  background-color: $header-bg-color;
  background-image: url("../images/foggy-birds.png");
  color: $nav-font-color;
}

/*
 * Responsive design
 */

/* Mobile */
@media screen and (max-width: 1024px) {
  body > header {
    width: 100%;
    height: 520px;
    padding-top: 120px;
    margin: 0;
  }
}