@use '_modules';

body > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background-color: modules.$header-bg-color;
  background-image: url("../images/foggy-birds.png");
  color: modules.$accent-text-color;

  div {
    @include modules.vertical-align();
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
  }

}

/*
 * Responsive design
 */

/* Desktop */
@media screen and (min-width: 1024px) {
  body > header {
    height: 400px;
    width: 50%;
    padding-top: 0;
    margin: 200px 50px;
  }
}