$bg-color: #f4f1ec;
$text-color: #545149;
$header-bg-color: #d89925;
$accent-color: #4056A1;
$accent-text-color: #FFFFFF;
$button-color: #FF0000;
$body-font: 'Source Sans 3', sans-serif;
$accent-font: 'Bungee', sans-serif;

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 520px;
  padding-top: 120px;
  background-color: $header-bg-color;
  background-image: url("../images/foggy-birds.png");
  color: $accent-text-color;

  div {
    @include vertical-align();
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
  }

}

/*
 * Responsive design
 */

/* Desktop */
@media screen and (min-width: 1024px) {
  body > header {
    height: 400px;
    width: 50%;
    padding-top: 0;
    margin: 200px 50px;
  }
}