$bg-color: #f4f1ec;
$font-color: #545149;
$nav-bg-color: #4056A1;
$nav-font-color: #FFFFFF;
$button-color: #FF0000;
$body-font: 'Source Sans 3', sans-serif;
$accent-font: 'Bungee', sans-serif;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: $nav-bg-color;
  color: $nav-font-color;
  text-align: center;
}

nav span.logo {
  font-family: $accent-font;
  font-size: 36px;
}

nav i {
  color: $button-color;
}


/*
 * Responsive design
 */

/* Mobile */
@media screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
  }
}