$bg-color: #f4f1ec;
$text-color: #545149;
$accent-color: #4056A1;
$accent-text-color: #FFFFFF;
$button-color: #FF0000;
$body-font: 'Source Sans 3', sans-serif;
$accent-font: 'Bungee', sans-serif;

@keyframes bounce {
  0%, 100% {transform: translateY(0)};
  50% {transform: translateY(7px)};
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: $accent-text-color;
  text-align: center;
  
  span {
    font-family: $accent-font;
    font-size: 36px;
  }

  i {
    color: $button-color;
    animation: bounce 1.5s infinite;
  }

}


/*
 * Responsive design
 */

/* Class needed for mobile layout */
.bgcolor {
  background-color: $accent-color;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  nav {
    background-color: $accent-color;
  }
}