@use '_modules';

.new-tweet {
  display: none;

  margin: 60px auto;

  form {
    label {
      width: 100%;
      font-weight: 600;
    }

    textarea {
      width: 100%;
      resize: none;
      margin-bottom: 10px;

      border-top: none;
      border-right: none;
      border-bottom: 5px solid modules.$text-color;
      border-left: none;
      outline: none;
      background-color: modules.$bg-color;
      font-size: 18px;
      font-weight: 600;
    }

    button {
      border: 0;
      padding: 5px 10px;
      background-color: modules.$accent-color;
      color: modules.$accent-text-color;
    }

    div {
      display: flex;
      justify-content: space-between;
      font-family: modules.$accent-font;
    }
  }
}

/*** Error message ***/
div.error-message {
  display: none;

  margin-bottom: 30px;
  padding: 20px 30px;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  color: #cc0033;
  font-size: 18px;
  font-weight: 600;
}

/*** Scroll up button ***/
div#scroll-up {
  display: none;
  
  height: 80px;
  width: 80px;
  margin: 20px;
  
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: modules.$button-color;
  border-radius: 50%;
  color: modules.$bg-color;
  font-size: 30px;
  text-align: center;

  i {
    @include modules.vertical-align();
  }

}

/*
 * Responsive design
 */

/*** Desktop ***/
@media screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;
  }
}