body > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 520px;
  padding-top: 150px;
  background-color: #d89925;
  background-image: url("../images/foggy-birds.png");
  color: #FFFFFF;
}
body > header div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body > header h2 {
  margin-bottom: 0;
  text-align: center;
}

/*
 * Responsive design
 */
/* Desktop */
@media screen and (min-width: 1024px) {
  body > header {
    height: 400px;
    width: 50%;
    margin: 200px 100px;
  }
}
