body > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 520px;
  padding-top: 150px;
  background-color: #d89925;
  background-image: url("../images/foggy-birds.png");
  color: #ffffff;
}

/*
 * Responsive design
 */

/* Desktop */
@media screen and (min-width: 1024px) {
  body > header {
    height: 400px;
    width: 50%;
    padding-top: 0;
    margin: 100px;
  }
}