nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #FFFFFF;
  text-align: center;
}
nav span.logo {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
}
nav i {
  color: #FF0000;
}

/*
 * Responsive design
 */

/* Class needed for mobile layout */
.bgcolor {
  background-color: #4056A1;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}
