nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  text-align: center;
}

nav span.logo {
  font-family: 'Bungee', sans-serif;
}

nav i {
  color: #FF0000;
}